/AICompetition/nbproject/private/
/DraughtsPlugin/nbproject/private/
/AICompetition/dist/
/DraughtsPlugin/dist/

AICompetition/build/built-jar.properties
DraughtsPlugin/build/built-jar.properties
DraughtsPlugin/build/classes/nl/tue/s2id90/group88/SithGuard.class

*.class
/DraughtsPlugin/build/
/AICompetition/build/